<h1>Shops#index</h1>
<p>Find me in app/views/shops/index.html.erb</p>
<% @shops.each do | business | %>

<ul class="pricing-table">
  <li class="title"> <%= business.name %></li>
  <li class="description">Address: <%= business.display_address %></li>
  <li class="description">ID: <%= business.yelp_id %></li>
</ul>

<% end %>	
<%= label_tag(:term, "shops search term")%>
	<%= text_field_tag(:term)%>`
<%= @response.to_json %>