<h1>Shops#new</h1>
<p>Find me in app/views/shops/new.html.erb</p>
<!--  formtag = creating a new form and what i would like to be passed in it.--> 
<%= form_tag(shops_path, method: "get") do %>
	<%= label_tag(:term, "shops search term")%>
	<%= text_field_tag(:term)%>
	<%= label_tag(:location, "Pick your location")%>
	<%= text_field_tag(:location)%>
	<%= submit_tag "Locate"%>
<% end%>
