<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyATL1wh8kJBbIfAVUIw-M5ki0r352my9mU&sensor=true">
    </script>

<h1>Listing coffeeshops</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Display address</th>
      <th>Display city</th>
      <th>Display state</th>
      <th>Display zip</th>
      <th>Neighborhood</th>
      <th>Phone</th>
      <th>Fair trade</th>
      <th>Organic</th>
      <th>Direct trade</th>
      <th>Yelp rating</th>
      <th>Yelp review</th>
      <th>Yelp</th>
      <th>Yelp url</th>
      <th>Url</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @coffeeshops.each do |coffeeshop| %>
      <tr>
        <td><%= coffeeshop.name %></td>
        <td><%= coffeeshop.display_address %></td>
        <td><%= coffeeshop.display_city %></td>
        <td><%= coffeeshop.display_state %></td>
        <td><%= coffeeshop.display_zip %></td>
        <td><%= coffeeshop.neighborhood %></td>
        <td><%= coffeeshop.phone %></td>
        <td><%= coffeeshop.fair_trade %></td>
        <td><%= coffeeshop.organic %></td>
        <td><%= coffeeshop.direct_trade %></td>
        <td><%= coffeeshop.yelp_rating %></td>
        <td><%= coffeeshop.yelp_review %></td>
        <td><%= coffeeshop.yelp_id %></td>
        <td><%= coffeeshop.yelp_url %></td>
        <td><%= coffeeshop.url %></td>
        <td><%= link_to 'Show', coffeeshop %></td>
        <td><%= link_to 'Edit', edit_coffeeshop_path(coffeeshop) %></td>
        <td><%= link_to 'Destroy', coffeeshop, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Coffeeshop', new_coffeeshop_path %>

<div>
  <h1>Our map goes here</h1>
  <%= form_tag coffeeshops_path, :method => :get do %>
    <p>
      <%= text_field_tag :search, params[:search] %>
      <%= submit_tag "Search Near", :name => nil %>
    </p>
  <% end %>
  <!-- <h1>Lat and Long</h1>
  <%#= form_tag coffeeshops_path, :method => :get do %>
    <p>
      <%#= text_field_tag :search_lat %>
      <%#= text_field_tag :search_lng %>
      <%#= submit_tag "Search Near", :name => nil %>
    </p>
  <%# end %> -->
    <!-- The "canvas," where our map is rendered -->
  <div id="map-canvas"></div>
</div>

<script type="text/javascript">
      function initialize() {
        
        <% @coffeeshops.each do |coffeeshop| %>
        var myLatLng = new google.maps.LatLng(<%= coffeeshop.latitude%>, <%=coffeeshop.longitude%>); // we set this as a var because we're going to reuse it for center/marker position -- you can elect to create separate google.maps.LatLng objects 

        var mapOptions = {
          center: myLatLng, // see above
          zoom: 16 // arbitrary; you can zoom at whichever level you like
        };
        var map = new google.maps.Map(document.getElementById("map-canvas"),
            mapOptions); // rendering a map in a div with the id of "map-canvas" and the options specified above in mapOptions

        var marker = new google.maps.Marker({
            position: myLatLng, // marker is placed at the same location as the map center
            map: map, // make sure this matches the name of your map (we called ours 'map')
            title:"<%=coffeeshop.name%>"
            });
        <% end %>
          
      }
      google.maps.event.addDomListener(window, 'load', initialize); // we modified this from Google's suggestion of 'load' because of turbolinks
</script>

