<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?v=3&key=AIzaSyATL1wh8kJBbIfAVUIw-M5ki0r352my9mU&sensor=true">
    </script>

<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @coffeeshop.name %>
</p>

<p>
  <strong>Display address:</strong>
  <%= @coffeeshop.display_address %>
</p>

<p>
  <strong>Display city:</strong>
  <%= @coffeeshop.display_city %>
</p>

<p>
  <strong>Display state:</strong>
  <%= @coffeeshop.display_state %>
</p>

<p>
  <strong>Display zip:</strong>
  <%= @coffeeshop.display_zip %>
</p>

<p>
  <strong>Neighborhood:</strong>
  <%= @coffeeshop.neighborhood %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @coffeeshop.phone %>
</p>

<p>
  <strong>Fair trade:</strong>
  <%= @coffeeshop.fair_trade %>
</p>

<p>
  <strong>Organic:</strong>
  <%= @coffeeshop.organic %>
</p>

<p>
  <strong>Direct trade:</strong>
  <%= @coffeeshop.direct_trade %>
</p>

<p>
  <strong>Yelp rating:</strong>
  <%= @coffeeshop.yelp_rating %>
</p>

<p>
  <strong>Yelp review:</strong>
  <%= @coffeeshop.yelp_review %>
</p>

<p>
  <strong>Yelp:</strong>
  <%= @coffeeshop.yelp_id %>
</p>

<p>
  <strong>Yelp url:</strong>
  <%= @coffeeshop.yelp_url %>
</p>

<p>
  <strong>Url:</strong>
  <%= @coffeeshop.url %>
</p>

<%= link_to 'Edit', edit_coffeeshop_path(@coffeeshop) %> |
<%= link_to 'Back', coffeeshops_path %>

<ul>
  <% for coffeeshop in @coffeeshop.nearbys(5) %>
    <li><%= link_to coffeeshop.full_address, coffeeshop %> (<%= coffeeshop.distance.round(2) %> miles)</li>
  <% end %>
</ul>

<div>
    <h1>Our map goes here</h1>
    <h3>Nearby locations</h3>

    <!-- The "canvas," where our map is rendered -->
    <div id="map-canvas"></div>
</div>

<script type="text/javascript">
      function initialize() {
        var myLatLng = new google.maps.LatLng(<%= @coffeeshop.latitude%>, <%=@coffeeshop.longitude%>); // we set this as a var because we're going to reuse it for center/marker position -- you can elect to create separate google.maps.LatLng objects 

        var mapOptions = {
          center: myLatLng, // see above
          zoom: 16 // arbitrary; you can zoom at whichever level you like
        };
        var map = new google.maps.Map(document.getElementById("map-canvas"),
            mapOptions); // rendering a map in a div with the id of "map-canvas" and the options specified above in mapOptions

        // for (i = 0; i < coffeeshop.length; i++) {
          var marker = new google.maps.Marker({
            position: myLatLng, // marker is placed at the same location as the map center
            map: map, // make sure this matches the name of your map (we called ours 'map')
            title:"<%= @coffeeshop.name %>"
            });
        // }
      }
      google.maps.event.addDomListener(window, 'load', initialize); // we modified this from Google's suggestion of 'load' because of turbolinks
</script>

