<script src="//maps.google.com/maps/api/js?v=3.13&amp;sensor=false&amp;libraries=geometry" type="text/javascript"></script>
<script src='//google-maps-utility-library-v3.googlecode.com/svn/tags/markerclustererplus/2.0.14/src/markerclusterer_packed.js' type='text/javascript'></script>

<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @coffeeshop.name %>
</p>

<p>
  <strong>Display address:</strong>
  <%= @coffeeshop.display_address %>
</p>

<p>
  <strong>Display city:</strong>
  <%= @coffeeshop.display_city %>
</p>

<p>
  <strong>Display state:</strong>
  <%= @coffeeshop.display_state %>
</p>

<p>
  <strong>Display zip:</strong>
  <%= @coffeeshop.display_zip %>
</p>

<p>
  <strong>Neighborhood:</strong>
  <%= @coffeeshop.neighborhood %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @coffeeshop.phone %>
</p>

<p>
  <strong>Fair trade:</strong>
  <%= @coffeeshop.fair_trade %>
</p>

<p>
  <strong>Organic:</strong>
  <%= @coffeeshop.organic %>
</p>

<p>
  <strong>Direct trade:</strong>
  <%= @coffeeshop.direct_trade %>
</p>

<p>
  <strong>Yelp rating:</strong>
  <%= @coffeeshop.yelp_rating %>
</p>

<p>
  <strong>Yelp review:</strong>
  <%= @coffeeshop.yelp_review %>
</p>

<p>
  <strong>Yelp:</strong>
  <%= @coffeeshop.yelp_id %>
</p>

<p>
  <strong>Yelp url:</strong>
  <%= @coffeeshop.yelp_url %>
</p>

<p>
  <strong>Url:</strong>
  <%= @coffeeshop.url %>
</p>

<%= link_to 'Edit', edit_coffeeshop_path(@coffeeshop) %> |
<%= link_to 'Back', coffeeshops_path %>

<ul>
  <% for coffeeshop in @coffeeshop.nearbys(5) %>
    <li><%= link_to coffeeshop.full_address, coffeeshop %> (<%= coffeeshop.distance.round(2) %> miles)</li>
  <% end %>
</ul>

<div>
    <h1>Our map goes here</h1>
    <h3>Nearby locations</h3>

    <!-- The "canvas," where our map is rendered -->
    <div id="map-canvas"></div>
</div>

<!-- Our gmaps4rails handler scripts -->
<script type="text/javascript">
  handler = Gmaps.build('Google');
  // provider is where we pass in mapOptions like zoom, and our API key (not required)
  // internal is where we tell the map where to render and set options like markers, bounds, etc.
  handler.buildMap({ provider: {zoom: 16, provider_key: "AIzaSyCYWhL3gSXTWROdo8CQMOiFyd6YNGzB918"}, internal: {id: 'map-canvas'}}, function(){
    markers = handler.addMarkers([
      {
        lat: <%=@coffeeshop.latitude%>, // pulls in the latitude for the marker via ERB
        lng: <%=@coffeeshop.longitude%>, // pulls in the longitude for the marker via ERB
        infowindow:  "<%=@coffeeshop.name%>"// info window text (this is optional)
      }
    ]);
    handler.map.centerOn(markers[0]); // centers on the first marker in the array
  });



</script>

