<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @coffeeshop.name %>
</p>

<p>
  <strong>Display address:</strong>
  <%= @coffeeshop.display_address %>
</p>

<p>
  <strong>Display city:</strong>
  <%= @coffeeshop.display_city %>
</p>

<p>
  <strong>Display state:</strong>
  <%= @coffeeshop.display_state %>
</p>

<p>
  <strong>Display zip:</strong>
  <%= @coffeeshop.display_zip %>
</p>

<p>
  <strong>Neighborhood:</strong>
  <%= @coffeeshop.neighborhood %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @coffeeshop.phone %>
</p>

<p>
  <strong>Fair trade:</strong>
  <%= @coffeeshop.fair_trade %>
</p>

<p>
  <strong>Organic:</strong>
  <%= @coffeeshop.organic %>
</p>

<p>
  <strong>Direct trade:</strong>
  <%= @coffeeshop.direct_trade %>
</p>

<p>
  <strong>Yelp rating:</strong>
  <%= @coffeeshop.yelp_rating %>
</p>

<p>
  <strong>Yelp review:</strong>
  <%= @coffeeshop.yelp_review %>
</p>

<p>
  <strong>Yelp:</strong>
  <%= @coffeeshop.yelp_id %>
</p>

<p>
  <strong>Yelp url:</strong>
  <%= @coffeeshop.yelp_url %>
</p>

<p>
  <strong>Url:</strong>
  <%= @coffeeshop.url %>
</p>

<%= link_to 'Edit', edit_coffeeshop_path(@coffeeshop) %> |
<%= link_to 'Back', coffeeshops_path %>
